.container-main {
  min-height: 150vh;
}

.container {
  width: 100%;
  position: relative;
  padding: 0 80px;
  overflow: hidden;
}

.container--header {
  position: fixed;
  top: 20px;
  overflow: visible;
}

.lorem {
  width: 500px;
}

a {
  color: var(--color-white);
}

.swiper {
  width: 784px;
  overflow: visible;
}

.swiper-slide {
  width: 100%;
  overflow: visible;
}

.swiper-wrapper {
  width: 100%;
  overflow: visible;
}

@media (max-width: 768px) {
  .container-main {
    padding: 0 20px;
    min-height: 100vh;
  }

  .lorem {
    width: 100%;
  }

  .container {
    padding: 0 20px;
  }

}

@media (max-width: 500px) {
  .container-main {
    min-height: 130vh;
  }

}