.section-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: var(--color-dashboard);
  border-radius: 30px 0;
  height: 146px;
  overflow: hidden;
}

.dashboard-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid transparent;
  gap: 12px;
  min-width: 104%;
  background-color: var(--color-white);
  padding: 2px 0;
  transform: rotate(-2deg);
}

@media (max-width:768px) {
  .dashboard-box {
    gap: 6px;
    min-width: 180%;
  }

  .dashboard-box__svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width:500px) {
  .section-dashboard {
    display: none;
  }
}