.section-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: var(--color-dashboard);
  border-radius: 30px 0;
  height: 146px;
  overflow: hidden;
}

.dashboard-box {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  gap: 12px;
  background-color: var(--color-white);
  padding: 2px 0;
  transform: translateX(-52vw) rotate(-2deg) translateY(35px);
  overflow: hidden;
  flex-shrink: 0;
}

.dashboard-animation--first {
  animation: dashboard--first 12s linear infinite;
}

.dashboard-animation--second {
  animation: dashboard--second 12s linear infinite;
}

.dashboard-animation--third {
  animation: dashboard--third 12s linear infinite;
}

.dashboard-animation--fourth {
  animation: dashboard--fourth 12s linear infinite;
}

.dashboard-animation--fifth {
  animation: dashboard--fifth 12s linear infinite;
}

.dashboard-animation--sixth {
  animation: dashboard--sixth 12s linear infinite;
}

.dashboard-animation--seventh {
  animation: dashboard--seventh 12s linear infinite;
}

.dashboard-animation--eighth {
  animation: dashboard--eighth 12s linear infinite;
}

.dashboard-animation--nineth {
  animation: dashboard--nineth 12s linear infinite;
}


@keyframes dashboard--first {
  100% {
    transform: translateX(1580px);
  }
}

@keyframes dashboard--second {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--third {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--fourth {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--fifth {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--sixth {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--seventh {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--eighth {
  100% {
    transform: translateX(1580px);
  }

}

@keyframes dashboard--nineth {
  100% {
    transform: translateX(1580px);
  }
}

@media (max-width:768px) {
  .dashboard-box {
    gap: 6px;
    min-width: 180%;
  }

  .dashboard-box__svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width:500px) {
  .section-dashboard {
    display: none;
  }
}