.section-discuss {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.discuss__title {
  max-width: 830px;
  text-align: center;
  color: var(--color-title);
}

.discuss-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.discuss-registration {
  border: 1px solid var(--color-discuss-box);
  border-radius: 50px;
  padding: 12px;
  transition: 0.3s all;
}

.discuss-registration__box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.discuss-registration__email {
  width: 650px;
  border: none;
  outline: none;
  transition: 0.3s all;
}

.discuss-box__advantages {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.discuss-box__advantage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label:has(.button-valid:active) input:invalid {
  background: var(--color-invalid)
}

label:has(.button-valid:active) input:valid {
  background: var(--color-valid);
}

.discuss-registration:has(.button-valid:active):has(input:invalid) {
  background: var(--color-invalid);
}

.discuss-registration:has(.button-valid:active):has(input:valid) {
  background: var(--color-valid);
}


@media (max-width:768px) {
  .discuss-registration__email {
    width: 450px;
  }
}

@media (max-width:500px) {
  .discuss-registration__email {
    width: 170px;
  }

  .discuss-box__advantages {
    gap: 5px;
  }

  .section-discuss {
    padding: 50px 0;
  }
}