.experince {
  position: relative;
  width: 100%;
  padding: 85px 0 150px 0;
  height: min-content;
}

.experince-title {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
  gap: 15px;
}

.experince-image {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.experince-work {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px 0;
}

.experince-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 0 1 50%;
}

.experince-card:nth-child(2n) {
  flex: 0 1 39%;
}

.experince-primary__information--color {
  color: var(--color-description)
}

@media (max-width:768px) {
  .experince {
    padding: 45px 0 40px 0;
  }

  .experince-image {
    display: none;
  }

  .experince-card {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 0 1 45%;
  }

  .experince-card:nth-child(2n) {
    flex: 0 1 55%;
  }
}

@media (max-width:500px) {
  .experince {
    padding: 45px 0 40px 0;
    min-height: 100vh;
  }

  .experince-card {
    gap: 8px;
    flex: 1 1 100%;
  }

  .experince-title {
    display: block;
    margin-bottom: 40px;
    text-align: center;
  }


  .experince-work {
    gap: 30px;
  }

  .experince-card:nth-child(2n) {
    flex: 1 1 100%;
  }
}