footer {
  background-color: var(--color-footer);
  border-radius: 16px 16px 0 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  gap: 55px;
  color: var(--color-white);
}

.footer-apex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.footer-line {
  border: 1px solid var(--color-footer-line);
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-content__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social {
  text-decoration: none;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-logo__hover {
  opacity: 0;
  position: absolute;
  transform: translateX(55px);
  transition: 0.3s all;
}

.footer-logo__inscription {
  transition: 0.3s all;
}

.footer-logo:hover .footer-logo__hover {
  opacity: 1;
}

.footer-logo:hover .footer-logo__inscription {
  opacity: 0;
}

.footer-content__title {
  color: var(--color-main);
  margin-bottom: 28px;
}

.footer-content__href {
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s all;
}

.footer-content__href:hover {
  opacity: 0.7;
}


.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content__bar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 52px;
}

.footer-content__email {
  height: 100%;
  border-radius: 14px 0 0 14px;
  padding: 10px;
  border: none;
  outline: none;
}

.footer-content__button {
  cursor: pointer;
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
  border-radius: 0 14px 14px 0;
  position: absolute;
  height: 100%;
  width: 45px;
}

.footer-content__button:hover .footer-content__svg {
  transform: translateX(2px);
}

.footer-content__button:active .footer-content__svg {
  transform: scale(1.1);
}

.footer-content__svg {
  height: 100%;
  right: 0;
  cursor: pointer;
  transition: 0.3s all;
}

.footer-content__description {
  width: 670px;
}


.footer-content__container:first-child {
  justify-content: space-between;
}