.section-portfolio {
  padding: 100px 0;
  overflow: hidden;
}

.portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.portfolio-title {
  max-width: 600px;
  color: var(--color-title);
}

.swiper-wrapper .portfolio-main__cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 48px;
}

.portfolio-card {
  position: relative;
  width: 100%;
  min-height: 390px;
  cursor: pointer;
}

.portfolio-card__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(207.19deg, rgba(0, 0, 0, 0) 47.41%, rgba(0, 0, 0, 0.359679) 76.39%, rgba(0, 0, 0, 0.5) 89.23%);
  border-radius: 20px;
  overflow: hidden;
}

.portfolio-card__svg {
  color: var(--color-main);
  transition: 0.3s all;
  fill: transparent;
}

.portfolio-card__img {
  position: absolute;
  width: 100%;
}

.portfolio-card:hover .portfolio-card__svg {
  color: var(--color-white);
  fill: var(--color-main);
}

.card-description__title {
  color: var(--color-white);
}

.card-description__subtitle {
  color: var(--color-lorem-card);
  opacity: 0;
  transition: 0.3s all;
}

.portfolio-card__description {
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 15px;
  transition: 0.3s all;
  transform: translateY(120px);
}

.portfolio-card:hover .portfolio-card__description {
  transform: translateY(0px);
  backdrop-filter: blur(12px);
  border: 1px solid var(--color-white);
  background: linear-gradient(90deg, rgba(5, 5, 5, 0.3) 0%, rgba(0, 0, 0, 0.3) 99%);
}

.portfolio-card:hover .card-description__subtitle {
  opacity: 1;
}

.swiper-pagination__portfolio {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-pagination__portfolio .swiper-pagination-bullet {
  cursor: pointer;
  border: solid transparent;
  color: var(--color-pagination-bullet);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--color-pagination-bullet);
  transition: 0.4s all;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 60px;
  background-color: var(--color-main);
  border-radius: 10px;
}

.portfolio-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
}

.portfolio-footer__buttons {
  display: flex;
  flex-direction: row;
  color: var(--color-black);
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-footer__button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 15px 32px;
  border-radius: 24px;
  transition: 0.3s all;
  background-color: var(--color-background-section);
}

.portfolio-footer__buttons input {
  display: none;
}

.portfolio-footer__button:hover {
  transform: scale(1.1);
}

.portfolio-footer__buttons input:checked~.portfolio-footer__container {
  opacity: 1;
  pointer-events: all;
}

.portfolio-footer__buttons input:checked~.portfolio-footer__subtitle {
  opacity: 1;
}


.portfolio-footer__buttons input:checked~.portfolio-footer__button {
  background-color: var(--color-main);
  color: var(--color-white);
}

.portfolio-footer__buttons input:checked~.portfolio-footer__button--first {
  transform: rotate(-3deg);
}

.portfolio-footer__buttons input:checked~.portfolio-footer__button--second {
  transform: rotate(3deg);
}

.portfolio-footer__button:hover {
  transform: scale(1.1);
}

.portfolio-footer__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  bottom: -60px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  pointer-events: none;
}

.portfolio-footer__description {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  margin-bottom: 24px;
}

.portfolio-footer__title {
  width: max-content;
  color: var(--color-title);
  transition: 0.3s all;

}

.portfolio-footer__subtitle {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -140px;
  color: var(--color-title);
  opacity: 0;
  transition: 0.3s all;
  pointer-events: none;
}

.portfolio-footer__svg--arrow {
  transition: 0.3s all;
  cursor: pointer;
}

.portfolio-footer__svg--arrow:hover {
  transform: scale(1.1);
}

.portfolio-footer__svg--arrow:active {
  transform: rotate(45deg);
}

.portfolio-footer__subtitle {
  width: 750px;
  text-align: center;
  color: var(--color-portfolio-footer)
}

.portfolio-footer__scroll {
  position: relative;
  width: 100%;
  /* overflow: auto; */
  touch-action: auto;
  margin-bottom: 48px;
}

.portfolio-footer__box {
  position: relative;
  width: 100%;
}

.portfolio-footer__gradient {
  position: absolute;
  z-index: 1;
  background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 1) 100%);
  width: 60px;
  height: 100%;
  right: 0;
  margin-right: -30px;
  display: none;
}

.portfolio-footer__scroll::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 768px) {
  .portfolio-header {
    flex-direction: column;
    margin-bottom: 24px;
    gap: 14px;
  }

  .portfolio-title {
    text-align: center;
  }

  .portfolio-footer__subtitle {
    width: 500px;
  }

  .portfolio-footer__buttons {
    width: max-content;
  }

  .portfolio-card {
    position: relative;
    width: 100%;

  }

  .portfolio-footer__scroll {
    margin: 0 0 24px -20px;
    width: calc(100% + 50px);
    padding: 0 20px;
  }

  .portfolio-footer__scroll::-webkit-scrollbar {
    width: 0;
  }

  .portfolio-footer__gradient {
    display: block;
  }

  .portfolio-card__img {
    height: 100%;
  }
}

@media (max-width: 500px) {
  .portfolio-footer__subtitle {
    width: 100%
  }

  .portfolio-card {
    width: 100%;
    min-height: 200px;
  }

  .portfolio-card__img {
    height: 200px;
  }

  .portfolio-card__container {

    width: 100%;
    height: 200px;
  }

  .portfolio-card__svg {
    width: 45px;
    height: 45px;
  }

  .card-description__subtitle {
    display: none;
  }

  .portfolio-card__description {
    transform: translateY(30px);
  }

  .portfolio-footer__description {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  .portfolio-footer__svg--arrow {
    width: 40px;
    height: 40px;
  }

}