.ui-burger__svg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ui-burger input {
  display: none;
}

.ui-burger {
  display: none;
}

.ui-burger__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--color-black);
  border-radius: 0 0 25px 25px;
  transition: 0.5s all;
  overflow: hidden;
  top: 50%;
  right: 50%;
  width: 89%;
  transform: translateX(50%);
  gap: 8px;
  opacity: 0;
  padding: 40px;
  z-index: 1;
}

.ui-line {
  border: 1px solid var(--color-white);
  width: 25px;
  z-index: 10
}

.ui-burger input:checked~.ui-burger__box {
  opacity: 1;
}

.ui-color {
  color: var(--color-main)
}

.ui-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -2;
  top: 0;
  left: 0;
}

.ui-button {
  cursor: pointer;
  width: max-content;
  max-height: max-content;
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 20px 40px;
  border: 1px solid transparent;
  border-radius: 60px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  gap: 10px;

}

.ui-button__svg {
  transition: 0.3s all;
}

.ui-button:hover .ui-button__svg {
  transform: rotate(45deg);
}

.ui-button:hover {
  transform: scale(1.1);
}

.ui-button:active {
  background: linear-gradient(90deg, rgba(252, 139, 139, 1) 0%, rgba(225, 97, 232, 1) 50%, rgba(199, 237, 240, 1) 100%);
}

.ui-pagination {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ui-bullet__active {
  cursor: pointer;
  border: solid transparent;
  color: var(--color-pagination-bullet);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--color-pagination-bullet);
  transition: 0.4s all;
}

.ui-pagination input {
  display: none;
}

.ui-bullet input:checked+.ui-bullet__active {
  width: 60px;
  background-color: var(--color-main);
  border-radius: 10px;
}

.pagination--portfolio {
  margin-bottom: 50px;
}

.ui-card__container {
  cursor: pointer;
  position: relative;
  border-radius: 50px;
}

.ui-card__container:hover .ui-card__arrow {
  color: var(--color-main);
}

.ui-card__container:hover .service-card {
  background-color: var(--color-main);
}

.ui-card__container:hover .card__images {
  transform: scale(1.1);
}

.ui-card__container:hover .post-card__img {
  transform: scale(1.1);
}

.ui-card__arrow {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: #1D2939;
  transition: 0.4s all;
}

.ui-chain {
  position: absolute;
  right: 50%;
  top: 46%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.ui-chain__circle {
  border: 2px dashed var(--color-black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #FD853A 0%, #FD853A 60%, rgba(255, 255, 255, 1) 60%);
  flex-shrink: 0;

}

.ui-chain__circle--black {
  background: radial-gradient(circle, #1D2939 0%, #1D2939 60%, rgba(255, 255, 255, 1) 60%);
}

.ui-chain__line {
  border: 2px dashed var(--color-chain-circle);
  height: 35%;
  width: 0;
}

@media (max-width: 768px) {
  .ui-card__arrow {
    width: 60px;
    height: 60px;
  }

  .ui-button__svg {
    width: 30px;
    height: 30px;
  }

  .ui-chain {
    display: none;
  }
}

@media (max-width: 500px) {
  .ui-burger {
    display: block;
  }

  .ui-button {
    padding: 10px 15px;
  }

  .section-portfolio .ui-card__arrow {
    display: none;
  }

  .ui-card__arrow {
    width: 80px;
    height: 80px;
  }
}