:root {

  /* color */
  --color-white: #ffffff;
  --color-black: #171717;
  --color-main: #FD853A;
  --color-background-section: #F2F4F7;
  --color-cards: #68686833;
  --color-cards-border: gray;
  --color-pagination-bullet: #E4E7EC;
  --color-discuss-box: #E4E7EC;
  --color-description: #98A2B3;
  --color-hire-projects: #667085;
  --color-lorem-card: #d1d1a0;
  --color-title: #344054;
  --color-text: #344054;
  --color-dashboard: #FB6514;
  --color-footer: #272727;
  --color-footer-line: #475467;
  --color-chain-circle: #1D2939;
  --color-cross: #E4E7EC;
  --color-valid: rgb(143, 239, 144);
  --color-invalid: rgb(239, 154, 154);
}